* {
        /*Reset's every elements apperance*/
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        border-spacing: 0;

        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
        font-family: roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7eb;
    padding-left: 1rem;
}

.maincolumn {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex:1;
    height: 130vh;
}

.maincolumn > * {
    box-sizing: border-box;
    background-color: aliceblue;
    width:100%;
    flex:1;
}

.header {
    padding-top: 1vh;
    color:#F9FAF8;
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    margin:auto;
    justify-content: center;
}


.onecolumn {
    display: flex;
    flex-direction: column;
}

.awesomerow {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    flex-direction: row;
}

.textcolumn1 {
    flex-direction: column;
    width:20%;
}

.imageholder {
    background-color: #3882f6;
    margin-left: 10rem;
    width:20%;
}

.one {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}
.two {
    display: flex;
    align-items: center;
    justify-content: center;
}

.array {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.randominfo {
    text-align: center;
    padding-bottom: 20px;
}

.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border: #3882f6 solid 3px;
    border-radius: 15px;
}

.squaretext {
    text-align: center;
    width:150px;
    padding-top: 1rem;
}

.three {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5e7eb;
}

.four {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actioncontainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 3rem 10%;
    align-items: center;
    justify-content: center;
}

.textcolumn2 {
    padding-right: 40rem;
}

.footer2 {
    color:#F9FAF8;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    flex:0.25;
    background-color: #1F2937;
}

.quote {
    display: flex;
    flex-direction: column;
    width:40%;
    

}
.quotesayer{
    display: flex;
    font-size: x-large;
    font-weight: bold;
    font-style: normal;
    align-self: flex-end;
    padding-right: 20px;
  
}

.button1, .button2 {
    color:#E5E7eb;
    border: none;
    margin: 0;
    padding: 0.25rem 2rem;
    width: auto;
    overflow: visible;
    border-radius: 5px;
    background: transparent;
}

.button1 {
    background: #3882f6;
    border-radius: 5px;
    margin-top: 1vh;
}

.button2 {
    border: #E5E7eb solid;
    background: transparent;
}